<h1>ジャンルを登録</h1>

<%= render partial: 'layouts/errors', locals: { resource: @genre } %>

<%= form_with model: @genre, local: true do |form| %>
  <%= form.label :name, 'ジャンル名' %>
  <%= form.text_field :name %>
  <%= form.label :description, '説明' %>
  <%= form.text_area :description %>
  <%= form.submit value: '登録する' %>
<% end %>
