<h1><%= @track.title %></h1>

<p>
  <%= @track.release.title %> / Disc <%= @track.disc_number %> / Track <%= @track.track_number %>
</p>

<p>
  <%= @track.description %>
</p>

<p>
  <%= link_to "リリース#{@track.release.title}のページに戻る", musician_release_path(@track.release.musician, @track.release) %>
</p>
