<h1>ミュージシャンを更新</h1>

<%= render partial: 'layouts/errors', locals: { resource: @musician } %>

<%= form_with model: @musician, method: :patch, local: true do |form| %>
  <%= form.label :name, '名前' %>
  <%= form.text_field :name %>
  <%= form.label :begun_in, '活動開始年' %>
  <%= form.text_field :begun_in %>
  <%= form.label :description, 'バイオグラフィ' %>
  <%= form.text_area :description %>
  <%= form.submit value: '更新する' %>
<% end %>

<%= form_with model: @musician, method: :delete, local: true do |form| %>
  <%= form.submit value: '削除する' %>
<% end %>
