<h1><%= @release.title %>のレビューを書く</h1>

<%= render partial: 'layouts/errors', locals: { resource: @review } %>

<%= form_with model: [@musician, @release, @review], local: true do |form| %>
  <%= form.label :body, 'レビュー' %><br />
  <%= form.text_area :body %><br />

  <%= form.submit value: '公開する' %>
<% end %>
