<h1><%= @release.title %>を更新</h1>

<%= form_with model: [@release.musician, @release], method: :patch, local: true do |form| %>
  <%= form.label :title, 'タイトル' %>
  <%= form.text_field :title %>
  <%= form.label :released_on, 'リリース日' %>
  <%= form.text_field :released_on %>
  <%= form.label :description, '説明' %>
  <%= form.text_area :description %>
  <%= label_tag 'release[tracks][][title]', '曲タイトル' %>

  <div v-for="(row, index) in rows">
    <%= text_field_tag 'release[tracks][][title]', @release.tracks.take(index).title %>
    <%= hidden_field_tag 'release[tracks][][id]', @release.tracks.take(index).id if @release.tracks.take(index) %>
  </div>

  <%= form.submit value: '更新する' %>
<% end %>

<%= form_with model: [@release.musician, @release], method: :delete, local: true do |form| %>
  <%= form.submit value: '削除する' %>
<% end %>
