<h1><%= @musician.name %>のリリースを登録</h1>

<%= form_with model: [@musician, Release.new], local: true do |form| %>
  <%= form.label :title, 'タイトル' %>
  <%= form.text_field :title %>
  <%= form.label :released_on, 'リリース日' %>
  <%= form.text_field :released_on %>
  <%= form.label :description, '説明' %>
  <%= form.text_area :description %>
  <%= label_tag 'release[tracks][][title]', '曲タイトル' %>
  <%= text_field_tag 'release[tracks][][title]' %>
  <%= form.submit value: '登録する' %>
<% end %>
