<h1><%= @release.title %></h1>

<p><%= @release.released_on %></p>

<p><%= @release.description %></p>

<ol>
  <% @release.tracks.each do |track| %>
    <li><%= link_to track.title, musician_release_track_path(@release.musician, @release, track) %></li>
  <% end %>
</ol>

<p>
  <%= link_to '更新する', edit_musician_release_path(@release.musician, @release) %>
</p>

<p>
  <%= link_to "ミュージシャン#{@release.musician.name}のページに戻る", musician_path(@release.musician) %>
</p>
