<h1><%= @release.title %></h1>

<p><%= @release.released_on %></p>

<p><%= @release.description %></p>

<% if @release.cover.attached? %>
  <p><%= image_tag @release.cover %></p>
<% end %>

<ol>
  <% @release.tracks.each do |track| %>
    <li><%= link_to track.title, musician_release_track_path(@release.musician, @release, track) %></li>
  <% end %>
</ol>

<p>
  <% if @release.reviews.count == 0 %>
    <p>レビューがありません</p>
  <% else %>
    <% @release.reviews.each do |review| %>
      <article>
        <p>
          <em><%= link_to review.user.name, user_reviews_path(review.user) %></em><br />
          <em><%= review.created_at.to_date %></em>
        </p>
        <p>
          <%= review.body %>
        </p>
      </article>
    <% end %>
  <% end %>
</p>

<p>
  <% if @review %>
    <%= link_to 'レビューを書く', edit_musician_release_review_path(@musician, @release, @review) %>
  <% else %>
    <%= link_to 'レビューを書く', new_musician_release_review_path(@musician, @release) %>
  <% end %>
</p>

<p>
  <%= link_to '更新する', edit_musician_release_path(@release.musician, @release) %>
</p>

<p>
  <%= link_to "ミュージシャン#{@release.musician.name}のページに戻る", musician_path(@release.musician) %>
</p>
